body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 0.95em;
  margin: 6em 2em 7em 2em;
}

.snfo {
  margin-left: 1em;
}
.nfo {
  margin: 1em 1em 2.2em;
  max-width: 60em;
}
.nfo div.intro {
  background-color: #ebf5f9;
  padding: 0.3em;
  margin-left: -0.3em;
}

.nfo p {
  margin: 0.5em 0 0;
}

.lst {
  margin-left: 1.5em;
}

h1 {
  font-size: 2em;
  background-color: lightblue;
  margin: 0;
  padding: 0.3em 0 0.6em 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

h1::before {
  content: "";
  margin: 1rem;
}

h3 {
  font-size: 1.2em;
}

h3 a, h3.lnk {
  text-decoration: none;
  color: #3691b0;
}

ul {
  margin: 0;
}
.LU {
  font-size: 80%;
  color: darkgray;
}
h3 .LU {
  font-size: 60%;
  font-weight: normal;
}
.LU * {
  color: inherit;
}
.mnu li a {
  text-decoration: none;
  color: inherit;
}

#top {
  position: fixed;
  color: #555555;
  background-color: lightgray;
  border-radius: 1em;
  padding: 0 0.24em;
  width: 0.52em;
  height: 1em;
  bottom: 1em;
  right: 0.5em;
  font-size: 4em;
  overflow: hidden;
  line-height: 0.93em;
  z-index: 10;
}
#top svg {
  width: 100%;
  fill: currentColor;
}

h3 a:target::before {
  content: var(--current-content);
  margin-top: var(--current);
  white-space: pre;
  position: relative;
  right: 40px;
  width: 0px;
  display: block;
  float: left;
  color: red;
}
h3 a:target:focus {
  outline: none;
}

.toc h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0;
}

.note {
  margin-left: 0.3em;
  vertical-align: super;
  font-size: x-small;
  line-height: 100%;
  color: #4b70ac;
}

.mnu li, .new, .newest, .upd, .add, .broken {
  position: relative;
}

:root {
  --tag-left: 0em;
  --tag-top: 0;
  --tag-bottom: initial;
  --current-content: "\21E8";
  --current: 0em;
}
h3:is(.new, .newest, .upd, .add, .broken, .dep) {
  --tag-left: 2em;
  --tag-top: initial;
  --tag-bottom: 0.2em;
  --NOcurrent-content: " \A\21E8";
  --current: -.8em;
}
h3 a[name] {
  position: relative;
}
/*scroll leaving a little space above*/
h3 a[name]::after {
  content: " ";
  display: block;
  width: 0px;
  float: left;
  position: relative;
  top: -1em;
}

.new::before, .newest::before, .upd::before, .add::before, .new.upd::after, .newest.upd::after, .add.upd::after,
 .broken::before, .dep::before {
  content: "new";
  font-size: .665rem;
  font-weight: initial;
  margin-left: calc( var(--tag-left) - 4.5em);
  margin-top: 0.3em;
  position: absolute;
  background: red;
  color: white;
  padding: 0 2px;
  transform: rotate(-10deg);
    otop: 0;
  top: var(--tag-top);
  bottom: var(--tag-bottom);
  left: 0;
}
.newest::before, .newest.upd::after {
  content: "newest";
  margin-left: calc( var(--tag-left) - 5.8em);
}
.add::before, .add.upd::after {
	content: "added";
	margin-left: calc( var(--tag-left) - 5.7em);
	background: green;
}
.upd::before {
  content: "updated";
  margin-left: calc( var(--tag-left) - 6.4em);
  background: orange;
}
.broken::before {
  content: "broken";
  margin-left: calc( var(--tag-left) - 5.9em);
  background: darkmagenta;
}
.dep::before {
  content: "deprecated";
  margin-left: calc( var(--tag-left) - 7.7em);
  background: teal;
}
.upd.newest::before, .add.upd::before {
  margin-left: calc( var(--tag-left) - 7.3em);
}

/*
h3.new::before {
	margin-left: -2.8em;
	bottom: 0.2em;
	top: initial;
}
h3.newest::before {
	margin-left: -4.1em;
	bottom: 0.2em;
	top: initial;
}/**/

.broken, .dep {
  position: relative;
  
}
:is(.broken,.dep) a::after {
  content: "";
  display: none;
  opacity: 0;
  font: normal 9pt sans-serif;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #444444;
  position: absolute;
  top: 1.5em;
  z-index: 9999999;
}
:root {
  --broken-txt: "Currently broken. Will be fixed in the near future.";
  --dep-txt: "Deprecated. Can be revived one day.";
}
#fr_ToC:checked ~ * {
  --broken-txt: 'Actuellement "cass\E9". Sera de nouveau fonctionnel dans le futur proche.';
}
:is(.broken,.dep) a:hover::after {
  color: white;
  background: darkmagenta;

  content: var(--broken-txt);
  display: block;
  opacity: 1;
  transition: opacity .5s;
  transition-timing-function: step-end;
}
.dep a:hover::after {
  content: var(--dep-txt);
  }

img {
  border: 2px solid lightblue;
  vertical-align: bottom;
}
p > .img:first-child, p.mg {
  margin-left: 0.5em;
}
p.mg2 {
  margin-right: 0.3em;
}
p.mg3 {
  margin-right: 1em;
}
p.num {
  position: relative;
}
p.num > span {
  vertical-align: top;
  background: lightblue;
  border-radius: 0 0.6em 0.6em 0;
  padding-right: 0.4em;
}
p.num2 > span, p.num3 > span {
  right: 0;
  border-radius: 0.6em 0 0 0.6em;
  padding-right: 0.2em;
  padding-left: 0.4em;
  position: absolute;
}
p.num3 > span {
  bottom: 0;
}
p.num4 > span {
  left: 0;
  bottom: 0;
  padding-left: 0.2em;
  padding-right: 0.4em;
  position: absolute;
}
.fr {
  float: right;
  margin-top: 0;
  margin-left: 2em;
}
.fl {
  float: left;
  margin-top: 0;
  margin-right: 2em;
}
:is(.fl,.fr).ct {
  text-align: center;
}
:is(.fl,.fr).cmt > img ~ span {
  border: 2px solid lightblue;
  border-top: 0;
  display: block;
}
.noM {
  margin-right: 0.5em;
}
.clr {
  clear: both;
}

#em {
  color: black;
}

code, .code {
  background-color: #ebf5f9;
}

/* fix search sites cached page */
body>div[style="position:relative;"], body>div.cacheContent {
  position: initial !important;
}

#m span:nth-child(13), #m span:nth-child(22), #m span:nth-child(9), #m span:nth-child(25), #m span:nth-child(11), #m span:nth-child(3), #m span:nth-child(16), #m span:nth-child(20) {
  display: inline;
}
#m span { display: none; }
